<!-- Items List -->
<div *ngIf="data.length > 0">

  <!-- Columns name -->
  <div class="d-flex justify-content-between align-items-center">
    <label (click)="orderByName('name', !ascSortNameColumn)" [appSort]="ascSortNameColumn">
      {{ column1 | uppercase }} <i class="bi bi-chevron-down desc"></i> <i class="bi bi-chevron-up asc"></i>
    </label>
    <label (click)="orderByName('count', !ascSortCountColumn)" [appSort]="ascSortCountColumn" class="subtitle">
      {{ column2 | uppercase }} <i class="bi bi-chevron-down desc"></i> <i class="bi bi-chevron-up asc"></i>
    </label>
  </div>

  <!-- Items -->
  <div class="list-group">
    <app-list-item *ngFor="let item of data" [item]="item"></app-list-item>
  </div>
</div>

<!-- Show more button -->
<a *ngIf="totalItems && totalItems > 4 && totalItems > data.length"
  class="d-flex justify-content-center show-more-btn"
  (click)="onShowMore()">
  {{'Show More' | uppercase }}

  <!-- Loading -->
  <div *ngIf="isLoadingMore" class="spinner-border text-secondary spinner-border-sm ml-2 mt-1" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</a>

<!-- Research not found data -->
<div *ngIf="data.length <= 0" class="d-table text-center w-100 mt-5">
  <img src="assets/img/zero.svg"/>
  <label class="d-block">Hmm... We didn't find any {{ type }}...</label>
  <a class="reset-btn" (click)="reset()">RESET</a>
</div>
