/* Basic style */
body {
  font-family: 'Open Sans', sans-serif;
  color: #152837;
  font-size: 16px;
}

h2 {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 32px;
}
label {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
input.form-control {
  height: 48px;
  font-weight: 400;
  border-color: #AAB9C4;
}

input:focus,
input:hover,
input:active,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

label.subtitle {
  color: #6B8294;
  font-weight: 400;
}
