/* Basic style */
body {
  font-family: 'Open Sans', sans-serif;
  color: #152837;
  font-size: 1rem;
}

h2 {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 2rem;
}
label {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}
input.form-control {
  height: 2.9rem;
  font-weight: 400;
  border-color: #AAB9C4;
}

label.subtitle {
  color: #6B8294;
  font-weight: 400;
}

/* Normalize*/
input.form-control:focus,
select:focus,
textarea:focus,
button.btn:focus,
:focus {
    box-shadow: none;
}
