.reset-btn {
  color: #BF5BB5;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

.list-group {
  border-top: 1px solid #D0DAE1;
  border-radius: inherit;
  height: 290px;
  overflow: auto;
  margin-top: 12px;
}


.show-more-btn {
  color: #446178;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Sort column */
.sort-hovering {
  cursor: pointer;
}

i.asc, i.desc {
  display: none;
}

.sort.sort-asc i.asc,
.sort:not(.sort-asc) i.desc  {
  display: initial;
}
